@model EmployeeData.Models.EmployeeViewModel

@{
	ViewData["Title"] = "Edit Employee";
	var errorMessage = TempData["errorMessage"]?.ToString();
}

<div class="container">
	<div class="row">
		<div class="col-md-8 mx-auto">
			@if (!string.IsNullOrWhiteSpace(@errorMessage))
			{
				<div class="alert alert-danger mb-2">
					<strong>error! </strong> @errorMessage
					<button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
				</div>
			}

			<div class="border rounded p-3">
				<h3>@ViewData["Title"]</h3>
				<hr />
				<form action="Edit" method="post" autocomplete="off">
					<div class="mb-2">
						<label class="form-label">Id</label>
						<input type="text" class="form-control" asp-for="Id" readonly />
					</div>
					<div class="mb-2">
						<label class="form-label">First Name</label>
						<input type="text" class="form-control" asp-for="FirstName" />
						<span asp-validation-for="FirstName" class="text-danger"></span>
					</div>
					<div class="mb-2">
						<label class="form-label">First Name</label>
						<input type="text" class="form-control" asp-for="LastName" />
						<span asp-validation-for="LastName" class="text-danger"></span>
					</div>
					<div class="mb-2">
						<label class="form-label">Date of Birth</label>
						<input type="date" class="form-control" asp-for="DOB" />
						<span asp-validation-for="DOB" class="text-danger"></span>
					</div>
					<div class="mb-2">
						<label class="form-label">Designation</label>
						<input type="text" class="form-control" asp-for="Designation" />
						<span asp-validation-for="Designation" class="text-danger"></span>
					</div>
					<div class="mb-2">
						<label class="form-label">Experiance</label>
						<input type="text" class="form-control" asp-for="Experiance" />
						<span asp-validation-for="Experiance" class="text-danger"></span>
					</div>
					<div class="mb-2">
						<label class="form-label">Salary</label>
						<div class="input-group">
							<span class="input-text-group">Rs.</span>
							<input type="text" class="form-control" asp-for="Salary" />
						</div>
						<span asp-validation-for="Salary" class="text-danger"></span>
					</div>
					<div class="button-grid pt-2 text-end">
						<button id="cancelButton" class="btn btn-secondary">Cancel</button>
						<button type="submit" class="btn btn-success">Update</button>
					</div>
				</form>
			</div>

		</div>
	</div>
</div>
@section Scripts {
	<script>
		function Login_Click() {
			// Redirect to the previous page
			window.history.back();
		}

		// Attach click event to the "Cancel" button
		document.getElementById("cancelButton").addEventListener("click", Login_Click);
	</script>
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
